<div class="p-3">
  <h1 class="ps-2 my-3" translate>Kas oled kindel, et tahad kustutada küsimustiku nimega: {{questionnaireName}}? translate</h1>


  <div class="d-flex justify-content-between ps-2 mb-1">
    <button
      (click)="close(true)"
      type="button"
      class="btn btn-outline-primary" translate>
      Kustutan translate
    </button>
    <button
      (click)="close(false)"
      type="button"
      class="btn btn-outline-primary" translate>
      Ei soovi kustutada translate
    </button>
  </div>

</div>
