<div class="p-3">
  <h1 class="ps-2 my-3" translate>{{ 'deleteQuestionnaireModal.title' | translate: {name: questionnaireName} }}</h1>

  <div class="d-flex justify-content-between ps-2 mb-1">
    <button
      (click)="close(true)"
      type="button"
      class="btn btn-outline-primary">
      {{'deleteQuestionnaireModal.agree' | translate}}
    </button>
    <button
      (click)="close(false)"
      type="button"
      class="btn btn-outline-primary">
      {{'deleteQuestionnaireModal.disagree' | translate}}
    </button>
  </div>

</div>
