<div class="wrapper">
  <div class="content">
    <h1 [innerHTML]="'about.header' | translate | sanitizeHtml"></h1>
    <div class="green-area">
      <p [innerHTML]="'about.area' | translate | sanitizeHtml"></p>
    </div>
    <h2 [innerHTML]="'about.section1Heading' | translate | sanitizeHtml"></h2>
    <p [innerHTML]="'about.section1Text' | translate | sanitizeHtml">
      <a href = "mailto: anu.piirisild@ut.ee">anu.piirisild.ut.ee</a>.
    </p>
    <h2 [innerHTML]="'about.section2Heading' | translate | sanitizeHtml"></h2>
    <p [innerHTML]="'about.section2Text' | translate | sanitizeHtml"></p>
    <h2 [innerHTML]="'about.section3Heading' | translate | sanitizeHtml"></h2>
    <p [innerHTML]="'about.section3Text' | translate | sanitizeHtml"></p>
    <h2 [innerHTML]="'about.contact' | translate | sanitizeHtml"></h2>
    <p [innerHTML]="'about.address' | translate | sanitizeHtml"></p>
</div>