.wrapper {
  margin-top: 5rem;
  height: fit-content;
  width: fit-content;
  padding: 2.5rem;
  background-color: var(--container);
  border-radius: 0.625rem;
  display: flex;
  gap: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
  width:  62.5rem;
  padding: 2rem;
  border: solid;
  border-color: var(--text-color);
  border-width: 0.125rem;
  border-radius: 0.625rem;
  gap: 2rem;
}

.green-area {
  background-color: var(--table-head);
  border: solid;
  border-width: 0.125rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0rem;
  width: 100%;
  height: fit-content;
}
