.edit-project-modal {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 32px;
  gap: 32px;
  background-color: var(--beige);
  border-radius: 10px;
}

.edit-project-input {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  gap: 8px;
}

.edit-project-modal-actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 16px;
}