# Project exclude paths
/frontend/.angular/
/frontend/node_modules/karma/config.tpl.js

installer creation/bin/jre/*
.gradle
/build/
**/target/**
/booking-server-api/build/
!gradle/wrapper/gradle-wrapper.jar
/mockserver.log
/mockserver_request.log
/src/**/application-localhost-*.*
frontend/node_modules
frontend/dist
testdb.db
EUIM-*.*.*.exe
launch4j.log
EUIM installer.exe
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/mqtt*
