.stakeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  max-width: 120px; 
  gap: 4px;
  padding: 4px 8px 4px 8px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}

.x-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  background: none;
  border: none;
  color: var(--dark-red);
  border-radius: 8px;
}

.red {
  background-color: var(--light-red);
  color: var(--dark-red);
  border-color: var(--dark-red);
}

.yellow {
  background-color: var(--light-yellow);
  color: var(--dark-yellow);
  border-color: var(--dark-yellow);
}

.green {
  background-color: var(--light-green);
  color: var(--dark-green);
  border-color: var(--dark-green);
}

.blue {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.purple {
  background-color: var(--light-purple);
  color: var(--dark-purple);
  border-color: var(--dark-purple);
}

.pink {
  background-color: var(--light-pink);
  color: var(--dark-pink);
  border-color: var(--dark-pink);
}

.btn-red {
  color: var(--dark-red);
}

.btn-red:hover {
  background: color-mix(in srgb, var(--dark-red) 25%, transparent);
}

.btn-yellow {
  color: var(--dark-yellow);
}

.btn-yellow:hover {
  background: color-mix(in srgb, var(--dark-yellow) 25%, transparent);
}

.btn-green {
  color: var(--dark-green);
}

.btn-green:hover {
  background: color-mix(in srgb, var(--dark-green) 25%, transparent);
}

.btn-blue {
  color: var(--dark-blue);
}

.btn-blue:hover {
  background: color-mix(in srgb, var(--dark-blue) 25%, transparent);
}

.btn-purple {
  color: var(--dark-purple);
}

.btn-purple:hover {
  background: color-mix(in srgb, var(--dark-purple) 25%, transparent);
}

.btn-pink {
  color: var(--dark-pink);
}

.btn-pink:hover {
  background: color-mix(in srgb, var(--dark-pink) 25%, transparent);
}