<div class="color-selection">
  <span>{{ 'plan.text' | translate }}</span>
  <div class="color-list">
    <button class="option green">
      <span>{{ 'plan.green' | translate }}</span>
    </button>
    <button class="option red">
      <span>{{ 'plan.red' | translate }}</span>
    </button>
    <button class="option blue">
      <span>{{ 'plan.blue' | translate }}</span>
    </button>
    <button class="option yellow">
      <span>{{ 'plan.yellow' | translate }}</span>
    </button>
    <button class="option pink">
      <span>{{ 'plan.pink' | translate }}</span>
    </button>
    <button class="option none">
      <span>{{ 'plan.none' | translate }}</span>
    </button>
  </div>
</div>