<div class="method-view">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" #featureGroupTabs>
    <mat-tab label="EbA meetod" class="tabs">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" #featureGroupTabs>
        <mat-tab label="Meetod" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h1 [innerHTML]="'method.intro.title' | translate | sanitizeHtml"></h1>
              <h2 [innerHTML]="'method.intro.header' | translate | sanitizeHtml"></h2>
              <p [innerHTML]="'method.intro.text' | translate | sanitizeHtml"></p>
          </div>
        </div>
        </mat-tab>
        <mat-tab label="Etapp 1" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h2 [innerHTML]="'method.step1.header' | translate | sanitizeHtml"></h2>
              <p [innerHTML]="'method.step1.text' | translate | sanitizeHtml"></p>
              <div class="example">
                <span class="example-label" [innerHTML]="'method.general.example' | translate | sanitizeHtml"></span>
                <div class="example-text">
                  <p [innerHTML]="'method.step1.example' | translate | sanitizeHtml"></p>
                </div>
              </div>
              <p [innerHTML]="'method.step1.text2' | translate | sanitizeHtml"></p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Etapp 2" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h2 [innerHTML]="'method.step2.header' | translate | sanitizeHtml"></h2>
              <p [innerHTML]="'method.step2.text' | translate | sanitizeHtml"></p>
              <div class="example">
                <span class="example-label" [innerHTML]="'method.general.example'| translate | sanitizeHtml"></span>
                <div class="example-text">
                  <p [innerHTML]="'method.step2.example' | translate | sanitizeHtml"></p>
                </div>
              </div>
              <p [innerHTML]="'method.step2.text2' | translate | sanitizeHtml"></p>
              <div class="example">
                <span class="example-label" [innerHTML]="'method.general.example' | translate | sanitizeHtml"></span>
                <div class="example-text">
                  <p [innerHTML]="'method.step2.example2' | translate | sanitizeHtml"></p>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Etapp 3" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h2 [innerHTML]="'method.step3.header' | translate | sanitizeHtml"></h2>
              <p [innerHTML]="'method.step3.text' | translate | sanitizeHtml"></p>
              <p [innerHTML]="'method.step3.text2' | translate | sanitizeHtml"></p>
              <div class="example">
                <span class="example-label" [innerHTML]="'method.general.example' | translate | sanitizeHtml"></span>
                <div class="example-text">
                  <p [innerHTML]="'method.step3.example' | translate | sanitizeHtml"></p>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Etapp 4" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h2 [innerHTML]="'method.step4.header' | translate | sanitizeHtml"></h2>
              <p [innerHTML]="'method.step4.text' | translate | sanitizeHtml"></p>
              <h3 [innerHTML]="'method.step4.subheading1' | translate | sanitizeHtml"></h3>
              <p [innerHTML]="'method.step4.text1' | translate | sanitizeHtml"></p>
              <h3 [innerHTML]="'method.step4.subheading2' | translate | sanitizeHtml"></h3>
              <p [innerHTML]="'method.step4.text2' | translate | sanitizeHtml"></p>
              <h3 [innerHTML]="'method.step4.subheading3' | translate | sanitizeHtml"></h3>
              <p [innerHTML]="'method.step4.text3' | translate | sanitizeHtml"></p>
              <h3 [innerHTML]="'method.step4.subheading4' | translate | sanitizeHtml"></h3>
              <p [innerHTML]="'method.step4.text4' | translate | sanitizeHtml"></p>
              <div class="example">
                <span class="example-label" [innerHTML]="'method.general.example' | translate | sanitizeHtml"></span>
                <div class="example-text">
                  <p [innerHTML]="'method.step4.example' | translate | sanitizeHtml"></p>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Etapp 5" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h2 [innerHTML]="'method.step5.header' | translate | sanitizeHtml"></h2>
              <p [innerHTML]="'method.step5.text' | translate | sanitizeHtml"></p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Etapp 6" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h2 [innerHTML]="'method.step6.header' | translate | sanitizeHtml"></h2>
              <p [innerHTML]="'method.step6.text' | translate | sanitizeHtml"></p>
              <p [innerHTML]="'method.step6.text2' | translate | sanitizeHtml"></p>
              <div class="example">
                <span class="example-label" [innerHTML]="'method.general.example' | translate | sanitizeHtml"></span>
                <div class="example-text">
                  <p [innerHTML]="'method.step6.example' | translate | sanitizeHtml"></p>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Etapp 7" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h2 [innerHTML]="'method.step7.header' | translate | sanitizeHtml"></h2>
              <p [innerHTML]="'method.step7.text' | translate | sanitizeHtml"></p>
              <ul>
                <li class="green plan" [innerHTML]="'method.step7.plan1' | translate | sanitizeHtml"></li>
                <li class="pink plan" [innerHTML]="'method.step7.plan2' | translate | sanitizeHtml"></li>
                <li class="red plan" [innerHTML]="'method.step7.plan3' | translate | sanitizeHtml"></li>
                <li class="yellow plan" [innerHTML]="'method.step7.plan4' | translate | sanitizeHtml"></li>
                <li class="blue plan" [innerHTML]="'method.step7.plan5' | translate | sanitizeHtml"></li>
                <li [innerHTML]="'method.step7.plan6' | translate | sanitizeHtml"></li>
              </ul>
              <div class="example">
                <span class="example-label" [innerHTML]="'method.general.example' | translate | sanitizeHtml"></span>
                <div class="example-text">
                  <p [innerHTML]="'method.step7.example' | translate | sanitizeHtml"></p>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="NB" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h2 [innerHTML]="'method.nb.header' | translate | sanitizeHtml"></h2>
              <p [innerHTML]="'method.nb.text' | translate | sanitizeHtml"></p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Kombineeritud vastused" class="tabs">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" #featureGroupTabs>
        <mat-tab label="Variandid" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h1 [innerHTML]="'combinations.header' | translate | sanitizeHtml"></h1>
              <h2 [innerHTML]="'combinations.section1Heading' | translate | sanitizeHtml"></h2>
              <p [innerHTML]="'combinations.section1Text' | translate | sanitizeHtml"></p>
              <app-combination-view></app-combination-view>
          </div>
        </div>
        </mat-tab>
        <mat-tab label="Tõlgendamine" class="tabs">
          <div class="wrapper">
            <div class="content">
              <h2 [innerHTML]="'combinations.section2Heading' | translate | sanitizeHtml"></h2>
              <h3 [innerHTML]="'combinations.section2SubHeading' | translate | sanitizeHtml"></h3>
              <p [innerHTML]="'combinations.section2Text' | translate | sanitizeHtml"></p>
              <h3 [innerHTML]="'combinations.section2SubHeading2' | translate | sanitizeHtml"></h3>
              <p [innerHTML]="'combinations.section2Text2' | translate | sanitizeHtml"></p>
              <h3 [innerHTML]="'combinations.selection1Heading' | translate | sanitizeHtml"></h3>
              <div class="option-description">
                <span class="green option">{{"select.yes" | translate}}</span>
                <p [innerHTML]="'combinations.selection1Yes' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="yellow option">{{"select.partly" | translate}}</span>
                <p [innerHTML]="'combinations.selection1Partly' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="red option">{{"select.no" | translate}}</span>
                <p [innerHTML]="'combinations.selection1No' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="blue option">{{"select.dontKnow" | translate}}</span>
                <p [innerHTML]="'combinations.selection1DontKnow' | translate | sanitizeHtml"></p>
              </div>
              <h3 [innerHTML]="'combinations.selection2Heading' | translate | sanitizeHtml"></h3>
              <div class="option-description">
                <span class="green option">{{"select.yes" | translate}}</span>
                <p [innerHTML]="'combinations.selection2Yes' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="yellow option">{{"select.partly" | translate}}</span>
                <p [innerHTML]="'combinations.selection2Partly' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="red option">{{"select.no" | translate}}</span>
                <p [innerHTML]="'combinations.selection2No' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="blue option">{{"select.dontKnow" | translate}}</span>
                <p [innerHTML]="'combinations.selection2DontKnow' | translate | sanitizeHtml"></p>
              </div>
              <h3 [innerHTML]="'combinations.selection3Heading' | translate | sanitizeHtml"></h3>
              <div class="option-description">
                <span class="green option">{{"select.yes" | translate}}</span>
                <p [innerHTML]="'combinations.selection3Yes' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="yellow option">{{"select.partly" | translate}}</span>
                <p [innerHTML]="'combinations.selection3Partly' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="red option">{{"select.no" | translate}}</span>
                <p [innerHTML]="'combinations.selection3No' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="blue option">{{"select.dontKnow" | translate}}</span>
                <p [innerHTML]="'combinations.selection3DontKnow' | translate | sanitizeHtml"></p>
              </div>
              <h3 [innerHTML]="'combinations.selection4Heading' | translate | sanitizeHtml"></h3>
              <div class="option-description">
                <span class="green option">{{"select.yes" | translate}}</span>
                <p [innerHTML]="'combinations.selection4Yes' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="yellow option">{{"select.partly" | translate}}</span>
                <p [innerHTML]="'combinations.selection4Partly' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="red option">{{"select.no" | translate}}</span>
                <p [innerHTML]="'combinations.selection4No' | translate | sanitizeHtml"></p>
              </div>
              <div class="option-description">
                <span class="blue option">{{"select.dontKnow" | translate}}</span>
                <p [innerHTML]="'combinations.selection4DontKnow' | translate | sanitizeHtml"></p>
              </div>
          </div>
        </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>
