.delete-modal {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  padding: 32px;
  gap: 16px;
  background-color: var(--beige);
  border-radius: 0.625rem;
}

.delete-modal-actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
}