table {
  background-color: var(--beige);
}

.projects-wrapper {
  margin-top: 5rem;
  height: fit-content;
  width: fit-content;
  padding: 2rem;
  background-color: var(--container);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-project {
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
  width: 62.5rem;
  padding: 1rem;
  border: solid;
  border-color: var(--text-color);
  border-width: 2px;
  border-radius: 0.625rem;
  gap: 0.5rem;
}

.add-project-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.add-project-input {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  gap: 0.5rem;
}

.add-project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  width: 100%;
  gap: 1rem;
}

table {
  border-radius: 0.625rem;
}

.projects-table {
  max-width: 100%;
  border-radius: 0.625rem;
  border-color: var(--text-color);
  border: solid;
  border-width: 2px;
  margin-top: 5rem;
}

.projects-table-row {
  display: flex;
  flex-direction: row;
}

.projects-table-head {
  padding: 32px 32px 32px 32px;
  justify-content: left;
  align-items: center;
}

.project-cell {
  padding: 32px 32px 32px 32px;
  width: 31.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
  
.action-button-cell {
  padding: 32px 32px 32px 32px;
  width: 31.25rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.see-more-button {
  background-color: var(--light-green);
  text-decoration: none;
  border: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  color: var(--text);
  border-color: var(--dark-green);
}
.see-more-button:hover {
  background-color: var(--green);
}

