<mat-spinner *ngIf="loading"></mat-spinner>
<div class="mb-5">
  <table *ngIf="!loading && questionnaires.length > 0" class="border-bottom-0">
    <thead>
    <tr>
      <th>
        {{'questionnaires' | translate}}
      </th>
      <th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let questionnaire of questionnaires">
      <td *ngIf="!getEditingQuestionnaire(questionnaire.id)">
        <a class="mx-5" [routerLink]="validationPath" [queryParams]="{questionnaireId: questionnaire.id}">{{questionnaire.name}}</a>
      </td>
      <td *ngIf="getEditingQuestionnaire(questionnaire.id)">
        <input value="{{questionnaire.name}}" id="{{questionnaire.id}}" type="text" (change)="updateName($event, questionnaire.id)" />
      </td>
      <td *ngIf="!getEditingQuestionnaire(questionnaire.id)">
        <button (click)="setQuestionnaireAsEditing(questionnaire)">{{'table.edit' | translate}}</button>
        <button (click)="deleteQuestionnaire(questionnaire)">{{'table.delete' | translate}}</button>
      </td>
      <td *ngIf="getEditingQuestionnaire(questionnaire.id)">
        <button (click)="updateQuestionnaireName(questionnaire.id)">{{'table.save' | translate}}</button>
        <button (click)="removeQuestionnaireAsEditing(questionnaire.id)">{{'table.cancelEdit' | translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h3>{{'questionnaire.addNew' | translate}}</h3>
  <input placeholder="{{'questionnaire.name' | translate}}" id="questionnaireName" type="text" [(ngModel)]="questionnaireName" />
  <button class="mx-5" [disabled]="questionnaireName.length <= 0" (click)="addNewQuestionnaire(questionnaireName)" formtarget="_blank">{{'questionnaire.add' | translate}}</button>
</div>
