<mat-spinner *ngIf="loading"></mat-spinner>
<div class="projects-wrapper">
  <div class="add-project">
    <div class="add-project-header">
      <h1>{{'addProject.title' | translate}}</h1>
      <button (click)="toggleAddNewQuistionnaire()" class="button-icon">
        <span *ngIf=!isToggled class="material-symbols-outlined icon">expand_more</span>    
        <span *ngIf=isToggled class="material-symbols-outlined icon">expand_less</span>    
       </button> 
    </div>
      <div *ngIf=isToggled class="add-project-row">
        <div class="add-project-input">
          <h2>{{'addProject.input' | translate}}</h2>
          <input placeholder="{{'addProject.placeholder' | translate}}" id="questionnaireName" type="text" [(ngModel)]="questionnaireName" />
        </div>
        <div class="add-project-buttons">
          <button (click)="toggleAddNewQuistionnaire()" class="button cancel-button">{{'button.cancel' | translate}}</button>
          <button [disabled]="questionnaireName.length <= 0" (click)="addNewQuestionnaire(questionnaireName)" formtarget="_blank" class="button add-button">{{'button.add' | translate}}</button>
        </div> 
    </div>
  </div>
  <div>
    <table *ngIf="!loading && questionnaires.length > 0" class="projects-table">
      <thead>
      <tr>
        <th class="projects-table-head">
          <h1>{{'projectsTable.title' | translate}}</h1>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let questionnaire of questionnaires" class="projects-table-row">
        <td class="project-cell">
          <span>{{questionnaire.name}}</span>
          <a [routerLink]="validationPath" [queryParams]="{questionnaireId: questionnaire.id}" class="see-more-button">{{'projectsTable.seeMore' | translate}}</a>
        </td>
        <td  class="action-button-cell">
          <app-menu [toggle]="'Menu'" [icon]="menuIcon" [actions]="getActions(questionnaire)"></app-menu>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>