<mat-spinner *ngIf="loading"></mat-spinner>
<div class="projects-wrapper">
  <div class="add-project">
    <div class="add-project-header">
      <h1>{{'Lisa projekt' | translate}}</h1>
      <button (click)="toggleAddNewQuistionnaire()" class="button-icon">
        <span *ngIf=!isToggled class="material-symbols-outlined icon">expand_more</span>    
        <span *ngIf=isToggled class="material-symbols-outlined icon">expand_less</span>    
       </button> 
    </div>
      <div *ngIf=isToggled class="add-project-row">
        <div class="add-project-input">
          <h2>{{'questionnaire.addNew' | translate}}</h2>
          <input placeholder="{{'questionnaire.name' | translate}}" id="questionnaireName" type="text" [(ngModel)]="questionnaireName" />
        </div>
        <div class="add-project-buttons">
          <button (click)="toggleAddNewQuistionnaire()" class="button cancel-button">{{'Loobu' | translate}}</button>
          <button [disabled]="questionnaireName.length <= 0" (click)="addNewQuestionnaire(questionnaireName)" formtarget="_blank" class="button add-button">{{'questionnaire.add' | translate}}</button>
        </div> 
    </div>
  </div>
  <div>
    <table *ngIf="!loading && questionnaires.length > 0" class="border-bottom-0 projects-table">
      <thead>
      <tr>
        <th class="projects-table-head">
          <h1>{{'questionnaires' | translate}}</h1>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let questionnaire of questionnaires" class="projects-table-row">
        <td class="project-cell">
          <span>{{questionnaire.name}}</span>
          <a [routerLink]="validationPath" [queryParams]="{questionnaireId: questionnaire.id}" class="see-more-button">{{'Vaata ->' | translate}}</a>
        </td>
        <td *ngIf="!getEditingQuestionnaire(questionnaire.id)" class="action-button-cell">
          <app-menu [actions]="getActions(questionnaire)"></app-menu>
          <!-- <button (click)="setQuestionnaireAsEditing(questionnaire)"n class="edit-button">{{'table.edit' | translate}} </button>
          <button (click)="deleteQuestionnaire(questionnaire)" class="delete-button">{{'table.delete' | translate}}</button> -->
        </td>
        <td *ngIf="getEditingQuestionnaire(questionnaire.id)" class="action-button-cell">
          <button (click)="updateQuestionnaireName(questionnaire.id)">{{'table.save' | translate}}</button>
          <button (click)="removeQuestionnaireAsEditing(questionnaire.id)">{{'table.cancelEdit' | translate}}</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>