<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="page-body">
  <div class="modals">
    <div class="projects-wrapper">
      <div class="add-project">
        <div class="add-project-header">
          <h2>{{'addGroup.title' | translate}}</h2>
          <button (click)="toggleAddNewGroup()" class="button-icon">
            <span *ngIf=!isToggledGroupAdding class="material-symbols-outlined icon">expand_more</span>
            <span *ngIf=isToggledGroupAdding class="material-symbols-outlined icon">expand_less</span>
          </button>
        </div>
          <div *ngIf=isToggledGroupAdding class="add-project-row">
            <div class="add-project-input">
              <div>
                <div class="add-project-header">
                  <h3>{{'addGroup.list' | translate}}</h3>
                  <button (click)="toggleGroupList()" class="button-icon">
                    <span *ngIf=!isToggledGroupList class="material-symbols-outlined icon">expand_more</span>
                    <span *ngIf=isToggledGroupList class="material-symbols-outlined icon">expand_less</span>
                  </button>
                </div>
                <div *ngIf=isToggledGroupList class="stakeholders-list">
                  <app-stakeholder *ngFor="let featureGroup of featureGroups; index as i" [stakeholder]="featureGroup.name" [editAction]="getFeatureGroupEditAction(featureGroup)" [deleteAction]="getFeatureGroupDeleteAction(featureGroup)" [color]="getStakeholderColorClass(i)"></app-stakeholder>
                </div>
              </div>
              <h3>{{'addGroup.input' | translate}}</h3>
              <input type="text" placeholder="{{'addGroup.placeholder' | translate}}" id="featureGroupName" type="text" [(ngModel)]="featureGroupName"/>
            </div>
            <div class="add-project-buttons">
              <button (click)="toggleAddNewGroup()" class="button cancel-button">{{'button.cancel' | translate}}</button>
              <button  (click)="createNewFeatureGroup(featureGroupName)" formtarget="_blank" class="button add-button">{{'button.add' | translate}}</button>
            </div>
        </div>
      </div>
    </div>
    <div class="projects-wrapper">
      <div class="add-project">
        <div class="add-project-header">
          <h2>{{'addStakeholder.title' | translate}}</h2>
          <button (click)="toggleAddNewStakeholder()" class="button-icon">
            <span *ngIf=!isToggledStakeholderAdding class="material-symbols-outlined icon">expand_more</span>
            <span *ngIf=isToggledStakeholderAdding class="material-symbols-outlined icon">expand_less</span>
          </button>
        </div>
          <div *ngIf=isToggledStakeholderAdding class="add-project-row">
            <div class="add-project-input">
              <div>
                <div class="add-project-header">
                  <h3>{{'addStakeholder.list' | translate}}</h3>
                  <button (click)="toggleStakeholderList()" class="button-icon">
                    <span *ngIf=!isToggledStakeholderList class="material-symbols-outlined icon">expand_more</span>
                    <span *ngIf=isToggledStakeholderList class="material-symbols-outlined icon">expand_less</span>
                  </button>
                </div>
                <div *ngIf=isToggledStakeholderList class="stakeholders-list">
                  <app-stakeholder *ngFor="let stakeholder of stakeholders; index as i" [stakeholder]="stakeholder.name" [editAction]="getStakeholderEditAction(stakeholder)" [deleteAction]="getStakeholderDeleteAction(stakeholder)" [color]="getStakeholderColorClass(i)"></app-stakeholder>
                </div>
              </div>
              <h3>{{'addStakeholder.input' | translate}}</h3>
              <input type="text" placeholder="{{'addStakeholder.placeholder' | translate}}" id="questionnaireName" type="text" [(ngModel)]="stakeholderName"/>
            </div>
            <div class="add-project-buttons">
              <button (click)="toggleAddNewStakeholder()" class="button cancel-button">{{'button.cancel' | translate}}</button>
              <button (click)="createNewStakeholder(stakeholderName)" formtarget="_blank" class="button add-button">{{'button.add' | translate}}</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div>
      <mat-accordion>
        <mat-expansion-panel #mep="matExpansionPanel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add new feature group (translate)
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field>
            <mat-label>Group name (translate)</mat-label>
            <input [(ngModel)]="featureGroupName" matInput placeholder="Enter group name (translate)">
          </mat-form-field>
          <button mat-raised-button (click)="toggleAddNewQuistionnaire()" color="secondary">Cancel (translate)</button>
          <button mat-raised-button (click)="createNewFeatureGroup(featureGroupName);mep.toggle()" color="primary">Create (translate)</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div>
      <mat-accordion>
        <mat-expansion-panel #mep="matExpansionPanel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add new stakeholder (translate) NOT IMPLEMENTED YET
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            <h2>Existing stakeholders (translate)</h2>
            <p>Lorem ipsum</p>
          </div>

          <mat-form-field>
            <mat-label>Stakeholder name (translate)</mat-label>
            <input matInput placeholder="Enter stakeholder name (translate)">
          </mat-form-field>
          <button mat-raised-button (click)="toggleAddNewQuistionnaire()" color="secondary">Cancel (translate)</button>
          <button mat-raised-button color="primary">Create (translate)</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div> -->
  <div *ngIf="!tabsLoading">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" #featureGroupTabs>
      <mat-tab *ngFor="let featureGroup of featureGroups; index as i"  label="{{featureGroup.name}}" class="tabs">
        <app-validation [featureGroup]="featureGroup" [stakeholders]="stakeholders" [tabIndex]="i"></app-validation>
      </mat-tab>
    </mat-tab-group>
</div>
