<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="d-flex">
  <div>
    <mat-accordion>
      <mat-expansion-panel #mep="matExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add new feature group (translate)
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>Group name (translate)</mat-label>
          <input [(ngModel)]="featureGroupName" matInput placeholder="Enter group name (translate)">
        </mat-form-field>
        <button mat-raised-button (click)="mep.toggle()" color="secondary">Cancel (translate)</button>
        <button mat-raised-button (click)="createNewFeatureGroup(featureGroupName);mep.toggle()" color="primary">Create (translate)</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>
    <mat-accordion>
      <mat-expansion-panel #mepstakeholder="matExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add new stakeholder (translate)
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <h2>Existing stakeholders (translate)</h2>
          <label *ngFor="let stakeholder of stakeholders; index as i" class="stakeholder-border m-1" [ngClass]="getStakeholderColorClass(i)" >{{ stakeholder.name }}</label>
        </div>

        <mat-form-field>
          <mat-label>Stakeholder name (translate)</mat-label>
          <input [(ngModel)]="stakeholderName" matInput placeholder="Enter stakeholder name (translate)">
        </mat-form-field>
        <button mat-raised-button (click)="mepstakeholder.toggle()" color="secondary">Cancel (translate)</button>
        <button mat-raised-button (click)="createNewStakeholder(stakeholderName)"  color="primary">Create (translate)</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div>
  <mat-tab-group [(selectedIndex)]="defaultTabIndex" mat-stretch-tabs="false" mat-align-tabs="start" #featureGroupTabs>
    <mat-tab *ngFor="let featureGroup of featureGroups"  label="{{featureGroup.name}}">
      <app-validation [featureGroup]="featureGroup" [stakeholders]="stakeholders"></app-validation>
    </mat-tab>
  </mat-tab-group>
</div>
