table {
  table-layout: fixed;
  width: fit-content;
  border: 1px;
  background-color: var(--beige);
  border-color: var(--text-color);
  border-collapse: separate;
  border-spacing: 0;
  border: solid;
  border-color: var(--text-color);
  border-width: 2px;
  border-radius: 4px;
}

thead {
  border-color: var(--text-color);
  background-color: var(--table-head);
  border-collapse: separate;
  border-spacing: 0;
}

th {
  border: solid;
  border-width: 1px;
  gap: 0.5rem;
  padding: 0.5rem;
  border-color: var(--bg-color);
  background-color: var(--table-head);
  font-weight: 600;
  height: 5rem;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: center;
}

td {
  height: 120px;
  vertical-align: top;
  text-align: left;
  border: 1px solid;
  border-color: var(--brown);
  padding: 0.5rem;
  word-break: keep-all;
}

tfoot td { border: none; }

tr>th:first-child/*,tr>td:first-child*/ {
  width: 3rem;
  position: sticky;
  left: 0;
  z-index: 1;
}

textarea {
  overflow: hidden;
  display: flex;
  text-align: left;
  justify-content: start;
  width: 100% !important;
  height: 100%;
  max-width: 1000rem;
  background: none;
  word-break: keep-all;
  border: solid;
  resize: none;
  min-height: 120px;
}

textarea::placeholder {
  color: var(--dark-green);
}

.textarea-border {
  display: flex;
  border: solid;
  border-width: 2px;
  border-radius: 0.25rem;
  width: fit-content;
  border-color: var(--dark-green);
}

.table-wrapper {
  border: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

th.content-cell-tenth-child.ng-star-inserted > div, th.content-cell-second-child.ng-star-inserted > div {
  justify-content: center;
  text-align: center;
}

.background-beige {
  background-color: var(--beige);
}

.background-dark-beige {
  background-color: var(--brown);
}

.id-cell {
  position: sticky;
  left: 0;
  z-index: 1;
  width: 56px;
}

.content-cell-first-child {
  position: sticky;
  left: 3rem;
  z-index: 1;
  width: 12.7rem;
}

.content-cell-second-child {
  left: 15.5rem;
  width: 56px;
}

.content-cell-third-child {
  left: 20rem;
  width: 156px;

}

.content-cell-fourth-child {
  left: 28.75rem;
  width: 16rem;
}

.content-cell-fifth-child {
  width: 16rem;
}

.content-cell-four-options {
  width: 12.25rem;
}

.selection {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.content-cell-tenth-child {
  width: 6.25rem;
}

.content-header-eleventh-child {
  width: 16rem;
  border-right: none;
  white-space: pre;
}

.content-cell-eleventh-child {
  width: 16rem;
  border-right: none;
}

.content-cell-twelveth-child {
  width: 156px;
  border-right: none;
  border-left: none;
}

.content-cell-thirteenth-child  {
  width: 16rem;
  border-left: none;
}

.content-cell-fourteenth-child, .content-cell-fifteenth-child  {
  width: 28rem;
}

.content-cell-sixteenth-child  {
  width: 3rem;
}

.add-row {
  vertical-align: middle;
  position: sticky;
  left: 0.5rem;
  z-index: 1;
}

.textarea-container {
  position: relative;
}

.textarea-container textarea {
  width: 100%;
  height: 100%;
}

.textarea-container button {
  top: 0;
  right: 0;
}
.cdk-overlay-pane, .cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  all: unset;
}

.content-cell-third-child .answer-stakeholder, .content-cell-twelveth-child .answer-stakeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  max-width: 120px;
  gap: 4px;
  padding: 4px 8px 4px 8px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  word-break: break-all;
}

.cell-with-menu {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: right;
  height: fit-content;
  width: 100%;
  gap: 0.5rem;
}

.cell-with-menu-stakeholder {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  gap: 0.5rem;
}

.feature-cell {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
  height: 100%;
  gap: 8px;
}

.custom-id {
  border-radius: 0.25rem;
  background-color: var(--table-head);
  min-height: 40px;
}

.feature {
  min-height: 72px;
}

.textfield {
  width: 100%;
}

.add-row-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 236px;
  height: fit-content;
  border: solid;
  border-radius: 8px;
  padding: 1rem;
  gap: 8px;
  background-color: var(--light-green);
  color: var(--dark-green);
}

.add-row-button:hover {
  background-color: var(--green);
}


.delete-row {
  width: 60px !important;
}

.delete-row-button {
  all: unset;
}

.overflow-unset {
  overflow: unset;
}
