<mat-spinner *ngIf="loading"></mat-spinner>
<div class="table-wrapper">
  <table *ngIf="!loading">
    <thead>
      <tr>
        <th *ngFor="let validation of validations; index as i" [ngClass]="getStickyClassByIndex(i)">
          <div class="header">{{getTranslation(validation)}}
          <app-info></app-info></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let validationRowValue of validationRowValues">
      <ng-container *ngFor="let validation of validations; index as i">
        <td *ngIf="isAnswerNotDisplayed(validation, validationRowValue)" [ngClass]="getStickyClassByIndex(i)" [attr.rowspan]="getAnswerRowSpanAndMapAsDisplayed(validation, validationRowValue)">
          <div *ngIf="isValidationSelectable(validation)">
            <app-select
              (selectionChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
            />
            <!-- <mat-form-field>
              <mat-label>{{'select.chooseOption' | translate}}</mat-label>
              <mat-select [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer" 
              (selectionChange)="onValidationRowValueChange($event.value, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)">
                <mat-option
                  *ngFor="let validationValue of validationValues"
                  [value]="validationValue"
                >
                  {{'select.' + validationValue2LabelMapping[validationValue] | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>   -->
          </div>
          <div *ngIf="isValidationTextField(validation)">
            <textarea
              [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
              (ngModelChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
              class="overflow-auto w-100 border-0 textarea-min-height"
            >
            </textarea>
          </div>
          <div class="w-100 h-100" *ngIf="isValidationStakeholder(validation)">
            <select style="width:18px; position: absolute; top: 0;right: 0" [ngModel]="selectedStakeholder" (ngModelChange)="onStakeholderChange($event, validation, validationRowValue)" name="stakeholders" id="stakeholder">
              <option *ngFor="let stakeholder of stakeholders; index as i" [ngValue]="stakeholder" value="stakeholder">{{stakeholder.name}}</option>
            </select>
            <p>
              {{ getValidationRowAnswer(validation, validationRowValue).answer }}
            </p>
          </div>
          <div  *ngIf="isValidationFeature(validation)">
            <textarea
              [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
              (ngModelChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
              class="overflow-auto w-100 border-0 textarea-min-height"
            >
            </textarea>
          <textarea
            [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
            (ngModelChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
          >
          </textarea>
          </div>
          <div  *ngIf="isValidationFeature(validation)">
          <textarea
            [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
            (ngModelChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"   
          >
          </textarea>
            <button
              (click)="addValidationRow(validationRowValue.answers[0].feature)"
              mat-icon-button>
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <div  *ngIf="isValidationFeaturePrecondition(validation)">
            <textarea
              [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
              (ngModelChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
              class="overflow-auto w-100 border-0 textarea-min-height"
            >
            </textarea>
            <button
              (click)="addValidationRow(validationRowValue.answers[0].feature, getRowPreConditionAnswer(validationRowValue).featurePrecondition, validationRowValue.answers[0].stakeholder)"
              color="primary"
              mat-icon-button>
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <div *ngIf="isValidationAutofill(validation)">
            {{getValidationRowAnswer(validation, validationRowValue).answer}}
          </div>
        </td>
      </ng-container>
      <td>
        <button (click)="deleteRow(validationRowValue.rowId)">{{'table.delete' | translate}}</button>
      </td>
    </tr>
    </tbody>
    <tfoot >
    <tr >
      <td >
        <button class="button add-button" (click)="addValidationRow()">{{'table.newRow' | translate}}</button>
      </td>
    </tr>
    </tfoot>
  </table>
</div>


