.table-wrapper {
  border: none;
  overflow-y: auto;
}

table {
  table-layout: fixed;
  width: fit-content;
  border: 1px;
  border-radius: 0.625rem;
  background-color: var(--beige);
  border-color: var(--text-color);
  border-collapse: separate;
  border-spacing: 0;
}
thead {
  border: 1px;
  border-radius: 0.625rem;
  border-color: var(--text-color);
  background-color: var(--table-head);
  border-collapse: separate;
  border-spacing: 0;
}

th {
  gap: 0.5rem;
  padding: 1rem;
  border-color: var(--text-color);
  background-color: var(--table-head);
  font-family: Garamond;
  font-weight: bold;
  height: 5rem;
  border-collapse: separate;
  border-spacing: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

td {
  border: 1px solid;
  border-color: var(--brown);
  padding: 1rem;
}

.background-beige {
  background-color: var(--beige);
}

tfoot td { border: none; }

tr>th:first-child/*,tr>td:first-child*/ {
  width: 3rem;
  position: sticky;
  left: 0;
  z-index: 1;
}

.id-cell {
  position: sticky;
  left: 0;
  z-index: 1;
  width: 3rem;
}
.content-cell-first-child {
  position: sticky;
  left: 3rem;
  z-index: 1;
  width: 12.5rem;
}

.content-cell-second-child {
  position: sticky;
  left: 15.5rem;
  z-index: 1;
  width: 4.5rem;
}

.content-cell-third-child {
  position: sticky;
  left: 20rem;
  z-index: 1;
  width: 8.75rem;
}

.content-cell-fourth-child {
  position: sticky;
  left: 28.75rem;
  z-index: 1;
  width: 16.25rem;
}

.content-cell-four-options {
  width: 12.5rem;
}
.content-cell-eleventh-child, .content-cell-thirteenth-child  {
  width: 16.25rem;
}
.content-cell-twelveth-child {
  width: 8.75rem;
}

.content-cell-fifth-child {
  width: 15rem;
}

.content-cell-sixth-child {
  width: 6.25rem;
}

.content-cell-fourtteenh-child  {
  width: 25rem;
}

.textarea-container {
  position: relative;
}

.textarea-container textarea {
  width: 100%;
  height: 100%;
}

.textarea-container button {
  top: 0;
  right: 0;
}
.cdk-overlay-pane, .cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  all: unset;
}

textarea {
  all: unset;
  width: 100%;
  height: 100%;
}
