<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>
        </th>
        <th *ngFor="let validation of validations; index as i" [ngClass]="getStickyClassByIndex(i)">
          <div class="header">{{getTranslation(validation)}}
          <app-info></app-info></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let validationRowValue of validationRowValues; index as i">
        <td class="id-cell background-beige">{{ i  + 1 }}</td>
        <ng-container *ngFor="let validation of validations; index as i">
        <td *ngIf="isAnswerNotDisplayed(validation, validationRowValue)" class="background-beige" [ngClass]="getStickyClassByIndex(i)" [attr.rowspan]="getAnswerRowSpanAndMapAsDisplayed(validation, validationRowValue)">
          <div *ngIf="isValidationSelectable(validation)">
            <app-select
              (selectionChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
            />
          </div>
          <div class="w-100 h-100" *ngIf="isValidationStakeholder(validation)">
            <select [ngModel]="selectedStakeholder" (ngModelChange)="onStakeholderChange($event, validation, validationRowValue)" name="stakeholders" id="stakeholder">
              <option *ngFor="let stakeholder of stakeholders; index as i" [ngValue]="stakeholder" value="stakeholder">{{stakeholder.name}}</option>
            </select>
            <app-stakeholder 
              class="{{getStakeholderColorClass(getValidationRowAnswer(validation, validationRowValue).answer, i)}}" 
              [stakeholder]="getValidationRowAnswer(validation, validationRowValue).answer" 
              [color]="getStakeholderColorClass(getValidationRowAnswer(validation, validationRowValue).answer, i)"
            >
            </app-stakeholder>
          </div>
          <div *ngIf="isValidationFeature(validation)" class="cell-with-menu">
            <app-menu [icon]="menuIcon" [actions]="getFeatureActions(validationRowValue)"></app-menu>
            <textarea
              [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
              (ngModelChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
              class="overflow-auto w-100 border-0 textarea-min-height"
            >
            </textarea>
          </div>
          <div *ngIf="isValidationFeaturePrecondition(validation)" class="cell-with-menu">
            <app-menu [icon]="menuIcon" [actions]="getPreconditionActions(validationRowValue)" [stakeholders]="stakeholders"></app-menu>
            <textarea
              [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
              (ngModelChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
              class="overflow-auto w-100 border-0 textarea-min-height"
            >
            </textarea>
          </div>
          <div *ngIf="isValidationExample(validation)" class="cell-with-menu">
            <app-menu [icon]="menuIcon" [actions]="getExampleActions(validationRowValue)"></app-menu>
          </div>
          <div *ngIf="isValidationTextField(validation)">
            <textarea
              [ngModel]="getValidationRowAnswer(validation, validationRowValue).answer"
              (ngModelChange)="onValidationRowValueChange($event, getValidationRowAnswer(validation, validationRowValue), validation, validationRowValue)"
              class="overflow-auto w-100 border-0 textarea-min-height"
            >
            </textarea>
          </div>
          <div *ngIf="isValidationAutofill(validation)">
            <span class="answer-stakeholder {{getStakeholderColorClass(getValidationRowAnswer(validation, validationRowValue).answer, i)}}">{{getValidationRowAnswer(validation, validationRowValue).answer}}</span>
          </div>
        </td>
      </ng-container>
      <td>
        <button (click)="deleteRow(validationRowValue.rowId)">{{'table.delete' | translate}}</button>
      </td>
    </tr>
    </tbody>
    <tfoot >
    <tr >
      <td >
        <button class="button add-button" (click)="addValidationRow()">{{'table.newRow' | translate}}</button>
      </td>
    </tr>
    </tfoot>
  </table>
</div>


