/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
/* .mdc-tab.mat-mdc-tab:has(.fake-disabled){opacity: initial;  .mdc-tab__content {     pointer-events: all;   }  }
*/

:root {
    --text-color: #384B38;
    --contrast-highlight: #547750;
    --container: #7CA478;
    --bg-color: #A6C6A0;
    --highlight: #D0E5CA;
    --table-head: #D0E5CA;
    --beige: #F7F1E6;
    --brown: #DACDBD;
    --light-red: #F5948A;
    --red:#F76B64;
    --dark-red:#690101;
    --light-orange: #F6BA89;
    --orange:#F79E55;
    --dark-orange:#72331F;
    --light-yellow:#F7DE87;
    --yellow:#F7D044;
    --dark-yellow:#655B36;
    --light-lime: #D5DC91;
    --lime:#BBC853;
    --dark-lime:#505035;
    --light-green:#B3D99B;
    --green: #7FBE5F;
    --dark-green: #3B4532;
    --light-aquamarine: #A9D3C3;
    --aquamarine:#90C6A5;
    --dark-aquamarine:#3E4E48;
    --light-blue: #A0CEEA;
    --blue: #76BEEE;
    --dark-blue: #394A54;
    --light-purple: #CEACF0;
    --purple: #9D76D1;
    --dark-purple: #271358;
    --light-pink: #ECACC2;
    --pink: #E982A3;
    --dark-pink: #701231;
}

.scheme1 {
    --text-color: #384B38;
    --bg-color: #A6C6A0;
    --container: #7CA478;
    --highlight: #D0E5CA;
    --contrast-highlight: #547750;
    --table-head: #D0E5CA;
}

.scheme2 {
    --text-color: #2c3849;
    --bg-color: #8091a4;
    --container: #687d93;
    --highlight: #a9c6d6;
    --contrast-highlight: #446377;
    --table-head: #bbccd7;
}

#content {
    color: var(--text-color);
    background-color: var(--bg-color);
}

mat-tooltip-component .mdc-tooltip__surface {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: fit-content !important;
    width: fit-content !important;
    max-width: 18rem !important;
    padding: 1rem !important;
    gap: 1rem !important;
    border-radius: 0.5rem !important;
    background-color: var(--text-color) !important;
    color: var(--beige) !important;
    z-index: 2 !important;
    font-family: Inter, sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: normal !important;
    line-height: 1.6 !important;
    max-height: 100% !important;
}


* {
    box-sizing: border-box;    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-justify: inter-word;
}

body {    
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: clip;
}

p {
    display: block;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;   
    font-weight: normal;
    text-align: justify;
    line-height: 1.6;
    word-spacing: 150%;
    letter-spacing: 0.5%;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto; 
    font-style: normal;   
    font-weight: 600; /*semi bold*/
    line-height: 125%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}

input {
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 2rem;
}

.fcc {
    display: flex;
    align-items: center;  /*TODO tõrge siin */
    justify-content: center;
}

.fcl {
    display: flex;
    align-items: center; /*TODO tõrge siin */
    justify-content: flex-start;
}

.button {
    min-width: 7.5rem;
    width: fit-content;
    padding: 0.25rem;
    border-radius: 0.625rem;
    border-width: 0.125rem;
    outline: none;
    height: fit-content;
}

.add-button, .edit-button {
    background-color: var(--light-green);
    color: var(--dark-green);
    border-color: var(--dark-green);
}

.add-button:hover, .edit-button:hover {
    background-color: var(--green);
}

.cancel-button {
    background-color: var(--beige);
    color: var(--dark-yellow);
    border-color: var(--dark-yellow);
}

.cancel-button:hover {
    background-color: var(--brown);
}

.delete-button {
    background-color: var(--light-red);
    color: var(--dark-red);
    border-color: var(--dark-red);
}

.delete-button:hover {
    background-color: var(--red);
}

.button-icon {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
    outline: none;
}

.icon {
    justify-content: center;
    font-size: 2.25rem;
}

.small-icon {
    justify-content: center;
    font-size: 1.5rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.red {
    background-color: var(--light-red);
    color: var(--dark-red);
    border-color: var(--dark-red);
}

.orange {
background-color: var(--light-orange);
color: var(--dark-orange);
border-color: var(--dark-orange);
}

.yellow {
background-color: var(--light-yellow);
color: var(--dark-yellow);
border-color: var(--dark-yellow);
}

.lime {
background-color: var(--light-lime);
color: var(--dark-lime);
border-color: var(--dark-lime);
}

.green {
background-color: var(--light-green);
color: var(--dark-green);
border-color: var(--dark-green);
}

.aquamarine {
background-color: var(--light-aquamarine);
color: var(--dark-aquamarine);
border-color: var(--dark-aquamarine);
}

.blue {
background-color: var(--light-blue);
color: var(--dark-blue);
border-color: var(--dark-blue);
}

.purple {
background-color: var(--light-purple);
color: var(--dark-purple);
border-color: var(--dark-purple);
}

.pink {
    background-color: var(--light-pink);
    color: var(--dark-pink);
    border-color: var(--dark-pink);
    }

.none {
    background-color: var(--beige);
    color: var(--text-color);
    border: none !important;
}