/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
/* .mdc-tab.mat-mdc-tab:has(.fake-disabled){opacity: initial;  .mdc-tab__content {     pointer-events: all;   }  }
*/

:root {
    --text-color: #2C4935;
    --bg-color: #89A480;
    --container: #729368;
    --highlight: #BCD6A9;
    --contrast_highlight: #4F7744;
    --table-head: #CCD7BB;
    --beige: #F5EEE6;
    --brown: #CAB89C;
    --light-red: #E8857E;
    --red:#EF6565;
    --dark-red:#58050C;
    --light-yellow:#EED784;
    --yellow:#E9C730;
    --dark-yellow:#5F4209;
    --light-green:#A9CD94;
    --green: #84BF6E;
    --dark-green: #2C4935;
    --light-blue: #A6D5E9;
    --blue: #55C3E9;
    --dark-blue: #074468;
    --light-purple: #CEACF0;
    --purple: #9D76D1;
    --dark-purple: #271358;
    --light-pink: #ECACC2;
    --pink: #E982A3;
    --dark-pink: #701231;
}

.scheme1 {
    --text-color: #2C4935;
    --bg-color: #89A480;
    --container: #729368;
    --highlight: #BCD6A9;
    --contrast_highlight: #4F7744;
    --table-head: #CCD7BB;
}

.scheme2 {
    --text-color: #2c3849;
    --bg-color: #8091a4;
    --container: #687d93;
    --highlight: #a9c6d6;
    --contrast_highlight: #446377;
    --table-head: #bbccd7;
}

#content {
    color: var(--text-color);
    background-color: var(--bg-color);
}

mat-tooltip-component .mdc-tooltip__surface {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: fit-content !important;
    width: fit-content !important;
    max-width: 18rem !important;
    padding: 1rem !important;
    gap: 1rem !important;
    border-radius: 0.5rem !important;
    background-color: var(--text-color) !important;
    color: var(--beige) !important;
    z-index: 2 !important;
    font-family: Inter, sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: normal !important;
    line-height: 1rem !important;
    max-height: 100% !important;
}

html, body {
    height: 100%;
    width: 100vw;
}

body {
    margin: 0;
    font-family: Inter, sans-serif !important;
    background-color: var(--bg-color);
    color: var(--text-color);
}

p {
    display: block;
    font-family: Inter, sans-serif;
    font-weight: normal;
}

h1 {
    color: var(--text-color);
    font-family: Inter;
    font-weight: 600;
    display: block;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    font-family: Inter;
    font-weight: 600;
    display: block;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
h3 {
    font-family: Inter;
    font-weight: 600;
    display: block;
    font-size: 1.17rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
h4 {
    font-family: Inter;
    font-weight: 600;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
h5 {
    font-family: Inter;
    font-weight: 600;
    display: block;
    font-size: .83rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
h6 {
    font-family: Inter;
    font-weight: 600;
    display: block;
    font-size: .67rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

input {
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 32px;
}

.fcc {
    display: flex;
    align-items: center;  /*TODO tõrge siin */
    justify-content: center;
}

.fcl {
    display: flex;
    align-items: center; /*TODO tõrge siin */
    justify-content: flex-start;
}

.button {
    min-width: 120px;
    width: fit-content;
    padding: 0.25rem;
    border-radius: 0.625rem;
    border-width: 2px;
    outline: none;
    height: fit-content;
}

.add-button, .edit-button {
    background-color: var(--light-green);
    color: var(--dark-green);
    border-color: var(--dark-green);
}

.add-button:hover, .edit-button:hover {
    background-color: var(--green);
}

.cancel-button {
    background-color: var(--beige);
    color: var(--dark-yellow);
    border-color: var(--dark-yellow);
}

.cancel-button:hover {
    background-color: var(--brown);
}

.delete-button {
    background-color: var(--light-red);
    color: var(--dark-red);
    border-color: var(--dark-red);
}

.delete-button:hover {
    background-color: var(--red);
}

.button-icon {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
    outline: none;
}

.icon {
    justify-content: center;
    font-size: 3rem;
}

.small-icon {
    justify-content: center;
    font-size: 36px;
}


.red {
    background-color: var(--light-red);
    color: var(--dark-red);
    border-color: var(--dark-red);
  }

.yellow {
background-color: var(--light-yellow);
color: var(--dark-yellow);
border-color: var(--dark-yellow);
}

.green {
background-color: var(--light-green);
color: var(--dark-green);
border-color: var(--dark-green);
}

.blue {
background-color: var(--light-blue);
color: var(--dark-blue);
border-color: var(--dark-blue);
}

.purple {
background-color: var(--light-purple);
color: var(--dark-purple);
border-color: var(--dark-purple);
}

.pink {
background-color: var(--light-pink);
color: var(--dark-pink);
border-color: var(--dark-pink);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}