.nav {
  width: 100vw;
  height: 5rem !important;
  top: 0;
  z-index: 2;
  padding: 1em 0em 1em 0em;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 120px;
  background-color: var(--beige);
}

.lang-select-width {
  width: 5rem;
}

a {
  justify-content: center;
  align-items: center;
}

a.toolbar-router {
  color: var(--contrast_highlight);  
  text-decoration: none;
  width: 120px;
  height: 2.5rem;
  border-radius: 0.5rem;
}

a.toolbar-router:hover {
  background-color: var(--highlight);
}

.button-language {
  background: none;
  border: none;
  width: 60px;
  height: 2.5rem;
  padding: 0.5rem;
}

.language-active {
  font-weight: bold;
}